<h1>Listing wishes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Taken by</th>
    <th>Notes</th>
    <th>Secret</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wishes.each do |wish| %>
  <tr>
    <td><%= wish.title %></td>
    <td><%= wish.taken_by %></td>
    <td><%= wish.notes %></td>
    <td><%= wish.secret %></td>
    <td><%= wish.url %></td>
    <td><%= link_to 'Show', wish %></td>
  </tr>
<% end %>
</table>
