<h1>Listing wishes</h1>

<ul class='records'>
<% @wishes.each do |wish| %>
  <li class='record <%= 'claimed' if wish.claimed_by %>'>
    <%= image_tag wish.image.thumb.url.to_s, class: 'thumb' %>
    <div class='info'>
      <h4><%= wish.title %></h4>
      <span id='notes'><%= wish.notes %></span>
      <span id='url'><%= link_to wish.url, wish.url %></span>
      <% if !wish.claimed_by %>
        <%= link_to 'As a gift', wish, class: 'btn' %>
      <% end %>
    <div>
  </li>
<% end %>
</ul>
