<h1><%= t('wishes_views.index_title') %></h1>

<ul class='records'>
<% @wishes.each do |wish| %>
   <%
  if cookies[:visitor] && cookies[:visitor] != 'true'
    wish.claimed_by = nil
    wish.readonly!
  end
  %>
  <li class='record <%= 'claimed' if wish.claimed_by %>'>
    <%= image_tag wish.image.thumb.url.to_s, class: 'thumb' %>
    <div class='info'>
      <h4><%= wish.title %></h4>
      <span id='notes'><%= wish.notes %></span>
      <span id='url'><%= link_to wish.url, wish.url %></span>
      <% if !wish.claimed_by %>
        <%= link_to t('actions.give_this_item'), wish, class: 'button' %>
      <% else %>
        <span class="claimed" title="<%= t('labels.claimed_title') %>"><%= t('labels.claimed') %></span>
      <% end %>
    <div>
  </li>
<% end %>
</ul>
