<h1><%= t('wishes_views.owner_protection_title') %></h1>
<p><%= t('wishes_views.owner_protection_explanation') %></p>
<%= link_to t('wishes_views.owner_show_all'), {:controller => :wishes, :action => :owner}, :class => "button" %><br>
<%= link_to t('wishes_views.visitor_show_unclaimed'), {:controller => :wishes, :action => :visitor}, :class => "button" %><br>
<%= link_to t('wishes_views.howto'), {:controller => :wishes, :action => :howto}, :class => "button howto" %>
