<h2><%= @wish.title %></h2>
<span class="pricetag"><%= @wish.price %></span>
<%= image_tag @wish.image.thumb.url.to_s, class: 'thumb' %>

<p>
  <%= @wish.notes %>
</p>

<p>
  <%= link_to @wish.url, @wish.url %>
</p>

<%= render :partial => 'claim', :locals => {:wish => @wish} %>

<%= link_to t('actions.back'), wishes_path, class: 'button' %>
