<p>
  <b>Title:</b>
  <%= @wish.title %>
</p>

<p>
  <b>Notes:</b>
  <%= @wish.notes %>
</p>

<p>
  <b>Url:</b>
  <%= @wish.url %>
</p>

<%= render :partial => 'claim', :locals => {:wish => @wish} %>

<%= link_to 'Back', wishes_path %>
