<h1><%= t('admin_wishes_views.index_title') %></h1>

<table id="admin-wishlist">
<% @wishes.each do |wish| %>
  <tr id="wish_<%= wish.id %>">
    <td><%= image_tag wish.image.thumb.url.to_s %></td>
    <td><%= raw wish.public ? '' : "<span class='secret'>#{t('labels.secret')}</span>" %> <%= wish.title %></td>
    <td>
      <%= link_to t('actions.show'), admin_wish_path(wish) %><br>
      <%= link_to t('actions.edit'), edit_admin_wish_path(wish) %><br>
      <%= link_to t('actions.destroy'), admin_wish_path(wish), method: :delete, data: { confirm: t('actions.confirm_delete_wish', :title => wish.title) } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('actions.new'), new_admin_wish_path %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
  // Sorting
  $(document).ready(function(){
    $('#admin-wishlist').sortable({
      axis: 'y',
      dropOnEmpty: false,
      cursor: 'crosshair',
      items: 'tr',
      opacity: 0.4,
      scroll: true,
      placeholder: 'sortable-placeholder',
      update: function(){
        $.ajax({
          type: 'post',
          data: $(this).sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            $('#admin-wishlist').effect('highlight');
          },
          url: '/admin/wishes/sort'
        })
      }
    });
  });
  <% end %>
<% end %>
