<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @wish.title %>
</p>

<p>
  <b>Notes:</b>
  <%= @wish.notes %>
</p>

<p>
  <b>Url:</b>
  <%= @wish.url %>
</p>

<%= link_to 'Edit', edit_admin_wish_path(@wish) %> |
<%= link_to 'Back', admin_wishes_path %> |
<%= link_to 'This wish in Frontend', wish_path(@wish) %> |
<%= link_to 'All in Frontend', wishes_path %>
